In [10]:
import pandas as pd
data={"Name":["Ram","Shyam","Rohan","Ram","Ajay","Vijay","kamal"],"Age":[26,34,30,30,32,35,42],
      "Salary":[30000,50000,35000,40000,40000,52000,60000]}
df=pd.DataFrame(data)
print(df)
print(df.head(3))
print(df.tail(3))
print(df.info())
df.describe()
print(df.isnull().sum())
print(df["Age"].duplicated())
print(df.drop_duplicates("Age"))

    Name  Age  Salary
0    Ram   26   30000
1  Shyam   34   50000
2  Rohan   30   35000
3    Ram   30   40000
4   Ajay   32   40000
5  Vijay   35   52000
6  kamal   42   60000
    Name  Age  Salary
0    Ram   26   30000
1  Shyam   34   50000
2  Rohan   30   35000
    Name  Age  Salary
4   Ajay   32   40000
5  Vijay   35   52000
6  kamal   42   60000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Salary  7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes
None
Name      0
Age       0
Salary    0
dtype: int64
0    False
1    False
2    False
3     True
4    False
5    False
6    False
Name: Age, dtype: bool
    Name  Age  Salary
0    Ram   26   30000
1  Shyam   34   50000
2  Rohan   30   35000
4   Ajay   32   40000
5  Vijay   35   52000
6  kamal   42   60000

In [19]:
import pandas as pd
data={"Name":["Ram","","Shyam","Ram","Ajay","Vijay","Amit","kamal"],"Age":[26,34,30,30,32,35,36,42],
      "Salary":[30000,50000,35000,40000,40000,52000,"Null",60000]}
df=pd.DataFrame(data)
print(df)
print(df.isnull())

    Name  Age Salary
0    Ram   26  30000
1          34  50000
2  Shyam   30  35000
3    Ram   30  40000
4   Ajay   32  40000
5  Vijay   35  52000
6   Amit   36   Null
7  kamal   42  60000
    Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
7  False  False   False

In [7]:
import pandas as pd
data={"Name":["Ram","Shyam","Rohan","Ram","Ajay","Vijay","kamal"],"Age":[26,34,30,30,32,35,42],
      "Salary":[30000,50000,35000,40000,40000,52000,60000],"Bonus":[0,2000,4000,0,5000,0,1000],"LastName":["kumar","Yadav","Singh","Kumar","Yadav","singh","Rajput"]}
df=pd.DataFrame(data)
print(df)
df.loc[(df["Bonus"]==0),"Getbonus"]="No bonus"
df.loc[(df["Bonus"]>0,"GetBonus")]="bonus"
print(df.head(7))
df["full"]=df["Name"].str.capitalize()+ " "+df["LastName"].str.capitalize()
print(df)
df["Bonus"]=(df["Salary"]/100)*20
print(df)

    Name  Age  Salary  Bonus LastName
0    Ram   26   30000      0    kumar
1  Shyam   34   50000   2000    Yadav
2  Rohan   30   35000   4000    Singh
3    Ram   30   40000      0    Kumar
4   Ajay   32   40000   5000    Yadav
5  Vijay   35   52000      0    singh
6  kamal   42   60000   1000   Rajput
    Name  Age  Salary  Bonus LastName  Getbonus GetBonus
0    Ram   26   30000      0    kumar  No bonus      nan
1  Shyam   34   50000   2000    Yadav       nan    bonus
2  Rohan   30   35000   4000    Singh       nan    bonus
3    Ram   30   40000      0    Kumar  No bonus      nan
4   Ajay   32   40000   5000    Yadav       nan    bonus
5  Vijay   35   52000      0    singh  No bonus      nan
6  kamal   42   60000   1000   Rajput       nan    bonus
    Name  Age  Salary  Bonus LastName  Getbonus GetBonus          full
0    Ram   26   30000      0    kumar  No bonus      nan     Ram Kumar
1  Shyam   34   50000   2000    Yadav       nan    bonus   Shyam Yadav
2  Rohan   30   35000   4000    Singh       nan    bonus   Rohan Singh
3    Ram   30   40000      0    Kumar  No bonus      nan     Ram Kumar
4   Ajay   32   40000   5000    Yadav       nan    bonus    Ajay Yadav
5  Vijay   35   52000      0    singh  No bonus      nan   Vijay Singh
6  kamal   42   60000   1000   Rajput       nan    bonus  Kamal Rajput
    Name  Age  Salary    Bonus LastName  Getbonus GetBonus          full
0    Ram   26   30000   6000.0    kumar  No bonus      nan     Ram Kumar
1  Shyam   34   50000  10000.0    Yadav       nan    bonus   Shyam Yadav
2  Rohan   30   35000   7000.0    Singh       nan    bonus   Rohan Singh
3    Ram   30   40000   8000.0    Kumar  No bonus      nan     Ram Kumar
4   Ajay   32   40000   8000.0    Yadav       nan    bonus    Ajay Yadav
5  Vijay   35   52000  10400.0    singh  No bonus      nan   Vijay Singh
6  kamal   42   60000  12000.0   Rajput       nan    bonus  Kamal Rajput

In [11]:
import pandas as pd
data={"month":["January","February","March","April"]}
df=pd.DataFrame(data)
print(df)
def extract(value):
    return value[0:3]

df["Short_months"]=df["month"].map(extract)
print(df)

      month
0   January
1  February
2     March
3     April
      month Short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr

In [20]:
import pandas as pd
data={"Name":["Ram","Shyam","Rohan","Ram","Ajay","Vijay","kamal"],"Age":[26,34,30,30,32,35,42],
      "Salary":[30000,50000,35000,40000,40000,52000,60000],"Bonus":[0,2000,4000,0,5000,0,1000],"LastName":["kumar","Yadav","Singh","Kumar","Yadav","singh","Rajput"]}
df=pd.DataFrame(data)
a=df.groupby("Name").agg({"Age":"count"})
print(a)
b=df.groupby("Name").agg({"Age":"mean"})
print(b)
d=df.groupby(["Name","Salary"]).agg({"Age":"count"})
print(d)

       Age
Name
Ajay     1
Ram      2
Rohan    1
Shyam    1
Vijay    1
kamal    1
        Age
Name
Ajay   32.0
Ram    28.0
Rohan  30.0
Shyam  34.0
Vijay  35.0
kamal  42.0
              Age
Name  Salary
Ajay  40000     1
Ram   30000     1
      40000     1
Rohan 35000     1
Shyam 50000     1
Vijay 52000     1
kamal 60000     1

In [36]:
import pandas as pd
dict={"fruits":["Mango","Banana","Papaya"],"Price":[30,49,50]}
df=pd.DataFrame(dict)
print(df)
df2=df.copy()
print(df2)
df2.loc[0,"Price"]=60
df2.loc[1,"Price"]=50
print(df2)
print(df.compare(df2))
print(df.compare(df2,align_axis=0))
print(df.compare(df2,keep_shape="True"))

   fruits  Price
0   Mango     30
1  Banana     49
2  Papaya     50
   fruits  Price
0   Mango     30
1  Banana     49
2  Papaya     50
   fruits  Price
0   Mango     60
1  Banana     50
2  Papaya     50
  Price
   self other
0  30.0  60.0
1  49.0  50.0
         Price
0 self    30.0
  other   60.0
1 self    49.0
  other   50.0
  fruits       Price
    self other  self other
0    NaN   NaN  30.0  60.0
1    NaN   NaN  49.0  50.0
2    NaN   NaN   NaN   NaN